html, body{
    margin: 0;
    padding: 0;
    background-color: orange;
    font-family: calibri;
}

/** Hieronder wordt de navbaar aangepast **/

li {
    font-size: 16px;
    font-family: montserrat;
}


#naam_navbar {
    font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}



/** Hierboven wordt de navbaar aangepast **/

#stelvraag_container {
    width: 100%;
}

#vraag {
    height: 100px;
}

.vraag_blok{
    min-height: 50px;
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
}

.vraag_blok_gebruiker{
    font-size: 11px;
}

.vraag_blok_foto{
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 10px;
}

.reactie_blok{
    background-color: #eee;
    padding-top: 10px;
    padding-left: 8px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}