html, body{
    margin: 0;
    padding: 0;
    background-color: orange;
    font-family: calibri;
}

/** Hieronder wordt de navbaar aangepast **/

li {
    font-size: 16px;
    padding-top: 12px;
    font-family: montserrat;
}


#naam_navbar {
    font-size: 25px;
    font-family: montserrat;
}

.navbar-header {
    height: 70px;
    padding-top: 10px;
}

/** Hierboven wordt de navbaar aangepast **/

#stelvraag_container {
    width: 100%;
}

#vraag {
    height: 100px;
}
